@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableBont-slnt,wght.ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/static/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/static/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: var(--white);
  background-color: var(--grey-900);
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-800);
  border-radius: .5rem;
  padding: 2rem;
}

.avatar {
  width: 5rem;
  height: auto;
  border-radius: 50%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 0 0;
}

.name {
  font-weight: 600;
  font-size: 1.5rem;
}

.location {
  font-weight: bold;
  color: var(--green);
}

.subtitle {
  padding: 1.5rem 0;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 18rem;
  width: 100%;
  background-color: var(--grey-700);
  padding: .75rem 1rem;
  font-weight: bold;
  border-radius: .5rem;
}

.button:hover {
  background-color: var(--green);
  color: var(--grey-900);
}

ul li {
  list-style-type: none;
}